.App {
  
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 10vh;

  z-index: 999999;
}

.app-main {
  margin-top: 6rem;
  background-color: #eeeeee;
  min-height: 80vh;
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
  background: url('./bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.app-footer {
  max-height: 20vh;
  background-color: #000000;
}
